@media screen and (min-width: 481px) {
    .ipad {
        background-color: white;
        position: absolute;
        bottom: 240px;
        left: 250px;
        height: 300px;
        width: 400px;
        border-radius: 30px;
        transform: rotate(-9deg);
        border: 1px solid lightgray;
    }

    .inner {
        height: 90%;
        width: 85%;
        position: absolute;
        left: 29px;
        top: 15px;
        display: flex;
    }

    .boxes {
        height: 100%;
        width: 75%;
    }

    .top {
        background-color: #e9e8e8;
        width: 100%;
        height: 30%;
        display: flex;
        border-top-left-radius: 5px;
    }

    .container {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .blue {
        background: linear-gradient(#96d1f9, #00cded);
        width: 75%;
        height: 70%;
        border-radius: 10px;
    }

    .green {
        background: linear-gradient(#9beb89, #42cf0e);
        width: 75%;
        height: 70%;
        border-radius: 10px;
    }

    .yellow {
        background: linear-gradient(#ebe889, #cfc20e);
        width: 75%;
        height: 70%;
        border-radius: 10px;
    }

    .red {
        background: linear-gradient(#eb9389, #cf150e);
        width: 75%;
        height: 70%;
        border-radius: 10px;
    }

    .bottom {
        width: 100%;
        height: 70%;
        background-color: #f6f6f6;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom-left-radius: 5px;
    }

    .files {
        height: 90%;
        width: 90%;
        background-color: white;
    }

    .file {
        width: 100%;
        height: 16%;
        border: 1px solid rgb(234, 234, 234);
        display: flex;
    }

    #ft {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .left {
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
    }

    .left1 {
        width: 70%;
        height: 15%;
        background-color: lightgray;
        border-radius: 10px;
        margin-left: 10px;
    }

    .left2 {
        width: 60%;
        height: 18%;
        background-color: lightgray;
        border-radius: 10px;
        margin-left: 10px;
    }

    .left3 {
        width: 40%;
        height: 18%;
        background-color: lightgray;
        border-radius: 10px;
        margin-left: 10px;
    }

    .right {
        height: 100%;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 10px;
    }

    .right1 {
        width: 10%;
        height: 15%;
        background-color: rgb(74, 217, 41);
        border-radius: 10px;
    }

    .right2 {
        width: 10%;
        height: 20%;
        background-color: rgb(217, 41, 41);
        border-radius: 10px;
    }

    .right3 {
        width: 10%;
        height: 17%;
        background-color: rgb(217, 144, 41);
        border-radius: 10px;
    }

    #fl {
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .graph {
        height: 99%;
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid lightgray;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .graph-inner {
        width: 80%;
        height: 90%;
    }

    .graph-top {
        width: 100%;
        height: 40%;
    }

    .topdec {
        width: 100%;
        height: 15%;
        background-color: rgb(213, 228, 225);
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    .circular {
        width: 100%;
        height: 70%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .circle {
        width: 90%;
        height: 90%;
        border-radius: 50%;
        background-color: rgb(155, 239, 107);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sector {
        height: 5%;
        width: 100%;
        border-radius: 50%;
        border: 30px solid rgb(96, 242, 210);
        border-bottom-color: transparent;
        transform: rotate(220deg);
    }

    .bottomdec {
        width: 100%;
        height: 15%;
        background-color: rgb(214, 228, 213);
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .graph-middle {
        width: 100%;
        height: 30%;
        display: flex;
        align-items: center;
    }

    .line-outer {
        width: 100%;
        height: 90%;
        position: relative;
        top: 7px;
    }

    .line {
        width: 100%;
        height: 20%;
        display: flex;
        align-items: center;
        position: relative;
        top: 10px;
    }

    .line1 {
        height: 40%;
        width: 85%;
        background-color: lightgray;
        border-radius: 10px;
    }
    
    .line2 {
        height: 40%;
        width: 50%;
        background-color: lightgray;
        border-radius: 10px;
    }
    
    .line3 {
        height: 40%;
        width: 65%;
        background-color: lightgray;
        border-radius: 10px;
    }
    
    .line4 {
        height: 40%;
        width: 30%;
        background-color: lightgray;
        border-radius: 10px;
    }
    
    .graph-bottom {
        width: 100%;
        height: 30%;
        display: flex;
        align-items: center;
    }
    
    .innerbox {
        width: 100%;
        height: 80%;
    }
    
    .innerline {
        width: 100%;
        height: 20%;
        display: flex;
        align-items: center;
        position: relative;
        top: 17px;
    }
    
    .inline1 {
        height: 50%;
        width: 70%;
        background-color: lightgray;
        border-radius: 10px;
    }
    
    .inline2 {
        height: 30%;
        width: 60%;
        background-color: lightgray;
        border-radius: 10px;
    }
    
    .inline3 {
        height: 40%;
        width: 30%;
        background-color: lightgray;
        border-radius: 10px;
    }
}

#pre {
    color: orange;
}

.shard {
    width: 250px;
    height: 200px;
    background: #383d44;
    position: absolute;
    bottom: 520px;
    transform: skewY(12deg);
    z-index: -1;
}

.upper {
    background-color: transparent;
    padding-left: 170px;
    padding-right: 200px;
    padding-top: 10px;
    height: 500px;
    overflow: auto;
}

.header {
    display: flex;
    align-items: center;
}

.text {
    margin-top: 160px;
    margin-left: 600px;
    margin-right: 30px;
    color: white;
    text-align: center;
}

.text h1 {
    font-size: 39px;
    font-family: sans-serif;
    font-weight: 200;
}

.text p {
    color: gray;
    font-size: medium;
    font-family: sans-serif;
    margin-top: 50px;
    margin-right: 10px;
    line-height: 30px;
}

.header-right {
    margin-left: auto;
    display: flex;
    list-style-type: none;
}

.header-right a {
    margin-left: 50px;
    color: white;
    font-family:sans-serif;
    text-decoration-line: none;
}

.logo {
    height: 40px;
    width: 40px;
}

.lt {
    font-size: x-large;
    color: white;
    font-family: sans-serif;
}

.account {
    background-color: rgb(6, 154, 203);
    color: white;
    height: 40px;
    width: 150px;
    border-radius: 40px;
    font-size: 15px;
    cursor: pointer;
}

.cross {
    width: 1520px;
    height: 700px;
    background: linear-gradient(-90deg, #222222 15%, #373737 70%, #3c4859 94%);
    position: absolute;
    bottom: 203px;
    z-index: -1;
    transform: skewY(12deg);
}